<!DOCTYPE html>
<html>
<head>
    <title>Blog Site</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


<div class="ui fixed menu compact">
    <div class="ui center grid">
        <div class="center aligned column">
            <div class="ui compact menu">


                <div class="header item">
                    <i class="smile icon"></i>
                    Blog with CRUD functionality
                </div>
                <a class="item">
                    <a href="/" class="item"><i class="home icon"></i>Home</a>
                </a>
                <a class="item">
                    <a href="/blogs/new" class="item">Create New Post</a>
                </a>
            </div>

            <div align="center"> <h5 style="color: red" ><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Disclaimer:Below web application should not be used for
                    commercial purpose!!Designed and created by Ramanath Madiwal.All &copy rights
                    belongs to www.ramanathmadiwal.com</h5>

            </div>
        </div>



</div>

</div>